<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect any URL with "admin" (case insensitive) at the end to the admin folder -->
                <rule name="Admin Redirect" stopProcessing="true">
                    <match url="^([Aa][Dd][Mm][Ii][Nn])/?$" />
                    <action type="Redirect" url="admin/login.php" redirectType="Permanent" />
                </rule>
                
                <!-- Handle other admin URLs -->
                <rule name="Admin Subfolder" stopProcessing="true">
                    <match url="^([Aa][Dd][Mm][Ii][Nn])/(.*)$" />
                    <action type="Rewrite" url="admin/{R:2}" />
                </rule>
            </rules>
        </rewrite>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="site-settings.json" />
                    <add segment="comments.json" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
